# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
venv/
env/

# Jupyter Notebook artifacts
.ipynb_checkpoints/

# Data Files (IMPORTANT: See note below)
#data/

# OS-specific files
.DS_Store
Thumbs.db

# IDE configuration files
.vscode/
.idea/